.forgot-password {
	color: white;
	text-align: left !important;
	position: relative;
	margin-top: -35px;
	float: right !important;
	font-weight: normal;
}

.forgot-label {
	text-align: left !important;
	position: relative;
	float: left !important;
}

a, a:focus {
	color: var(--fontColor);
}

a:hover {
	color: black;
}

.vertical-alignment-helper {
	display: table;
	height: 100%;
	width: 100%;
	pointer-events: none;
	/* This makes sure that we can still click outside of the modal to close it */
}

.vertical-align-center {
	/* To center vertically */
	display: table-cell;
	vertical-align: middle;
	pointer-events: none;
}

.modal-content {
	/* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
	width: 50%;
	height: inherit;
	/* To center horizontally */
	margin: 0 auto;
	pointer-events: all;
}

.navbar-inverse {
    background-color: var(--backGroundColor) !important;
    border-color: var(--lineBorderColor) !important;
}