@charset "ISO-8859-1";

.form-reset-password {
	font-size: 25px !important;
	font-weight: 300;
	color: #555;
	line-height: 30px;
}

.forgot-password {
	color: white;
	text-align: left !important;
	position: relative;
	margin-top: -35px;
	float: right !important;
	font-weight: normal;
}

.forgot-label {
	text-align: left !important;
	position: relative;
	float: left !important;
}

a, a:focus {
	color: white;
}

a:hover {
	color: black;
}

.vertical-alignment-helper {
	display: table;
	height: 100%;
	width: 100%;
	pointer-events: none;
	/* This makes sure that we can still click outside of the modal to close it */
}

.vertical-align-center {
	/* To center vertically */
	display: table-cell;
	vertical-align: middle;
	pointer-events: none;
}

.modal-content {
	/* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
	width: 50%;
	height: inherit;
	/* To center horizontally */
	margin: 0 auto;
	pointer-events: all;
}